@charset "utf-8";
/* 0x4b656b - The best source for $h!t - Styleshit */

a {
    color: lightgrey;
	padding: 12px;
    text-decoration: none;
	transition: #1fb2b0 0.3s linear;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

a:hover {
	color: #1fb0b2;
	text-decoration: none;
}

a.footer {
    color: #1fb0b2;
    text-decoration: none;
}

a.footer:hover {
    color: white;
    text-decoration: none;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #B8B8B9;
    background-color: #161618;
}

button {
	background-color: #121214;
	color: #ffffff;
	border-color: #1fb2b0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	display: block;
	font-size: 35px;
	font-weight: 500;
}

h2 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
}

hr {
	width: 98%;
	color: #888888;
}

ul.navbar-header {
    list-style-type: none;
    margin: 8;
    padding: 0;
    overflow: hidden;
	display: block;
	float: left
}

li.nav {
	float: left;
	text-align: center;
}


p {
	margin: 3px;
}

strong {
	color: #1fb2b0;
	font-style: bold;
}

.content {
	width: 970px;
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
	padding-top: 40px;
	padding-bottom: 60px;
}

.navbar {
    padding-top: 0px;
	padding-left: 0px;
	position: fixed;
    max-height: 50px;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

#footer {
	width: 100%;
	height: 40px;
	background: rgba(5,5,5,0);
	color: dimgrey;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#header {
    width: 100%;
    height: 50px;
    background: rgba(16,16,19,0.78);
	border-bottom: #1fb2b0 1px solid;
    position: fixed;
	top: 0px;
	left: 0px;
}

#logo {
	float: left;
}

article,
aside,
details,
div,
figcaption,
figure,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

code,
samp,
kbd,
var {
	font-family: monospace;
}

code {
	font-size: 90%;
    color: #8b2ada;
}

pre {
	font-family: monospace;
	white-space: pre;
    text-shadow: 2px 5px 15px #1dadb0;
}

.anim {

    margin: 0;
    animation: color 0.6s linear  infinite !important;
}
    @keyframes color {
            0%   {color:red;}
            25%  {color:yellow;}
            50%  {color:#1FB2B0;}
            75%  {color:#23dd06;}
            100% {color:red;}
            }

    @-webkit-keyframes color {
            0%   {color:red;}
            25%  {color:yellow;}
            50%  {color:#1FB2B0;}
            75%  {color:#23dd06;}
            100% {color:red;}
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #9b9999!important;
}

::-webkit-scrollbar-thumb {
    width: 15px;
    background: #1fb2b0!important;
}

::-webkit-scrollbar-track-piece {
    background-color: #222222!important;
    width: 10px;
    max-height: 10px!important;
}
